.post-content-info {
    display: flex;
    flex-direction: column;
}

.post-video {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.post-video video {
    width: 90%;
}

.post-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    margin: 2em 0;
}

.post-gallery a {
    flex-shrink: 1;
}

.post-info-card {
    width: 95%;
    margin: 1em auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
}

.post-info-card h3 {
    color: #FFF;
    padding: 1em;
}

.english-info {
    direction: ltr;
}

.english-info h3 {
    background: #9933CC;
}

.english-info p {
    padding: 1em;
}

.required-system h3 {
    background: #FFB200;
}

.required-system p {
    color: #8F4513;
    padding: 1em;
}

.required-system div {
    direction: ltr;
    padding: 1em;
    line-height: 2em;
}

.tutorial h3 {
    background: #4285F4;
}

.tutorial h4 {
    padding: 1em;
}

.tutorial ol{
    padding: 1em 2em;
    list-style: uepper-latin;
}

.tutorial ol > li {
    padding: 0.5em 0;
}

.file-info h3 {
    background: #FB6E52;
}

.file-info .info-block {
    padding: 0.5em 1em;
    border-bottom: 1px solid #E2E2E6;
}

.file-info .info-block:last-child {
    border-bottom: none;
}

.password h3{
    background: #598CBE;
}

.download h3 {
    background: #59BE5E;
}

.download p {
    margin: 1em;
    color: #222;
}

.download p > a {
    color: dodgerblue;
}

.download-footer {
    display: flex;
    justify-content: center;
    gap: 1em;
    background: #E2E2E6;
    padding: 1em 0;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.download-footer .df-btn a{
    display: block;
    padding: 1em;
    background: hsl(4, 89%, 59%);
    color: #FFF;
    font-size: 0.85em;
    transition: 0.2s ease-in-out;
}

.download-footer .df-btn a:hover {
    background: hsl(4, 89%, 40%);
    transition: 0.2s ease-in-out;
}

.relative-posts h2 {
    padding: 1em 1em 0;
    font-size: 1.1em;
}

.relative-posts hr {
    width: 100%;
    border: 1px solid hsl(240, 7%, 89%);
}

.relative-posts ul {
    margin-bottom: 1em;
}

.relative-posts ul > li > a {
    display: block;
    padding: 1em;
    font-size: 0.9em;
}

.comments-section h2 {
    font-size: 1.1em;
    padding: 1em;
}

.comments-section hr {
    width: 100%;
    border: 1px solid #E2E2E6;
}

.comments-section .comment-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.comment-form label {
    padding: 0.5em 0;
}

.comment-form textarea {
    width: 70%;
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid #E2E2E6;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.comment-form textarea:hover {
    border-bottom: 1px solid #9933CC;
    transition: 0.2s ease-in-out;
}

.comment-form .input {
    width: 70%;
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid #E2E2E6;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.comment-form .input:hover {
    border-bottom: 1px solid #9933CC;
    transition: 0.2s ease-in-out;
}

#send-comment-btn { 
    margin: 2em 0 1em;
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    cursor: pointer;
    background: #4285F4;
    color: #FFF;
    border: none;
    padding: 1em;
    font-size: 1.01em;
}

.comments-list h2 {
    font-size: 19px;
    padding: 1em;
}

.comments-list hr {
    width: 100%;
    border: 1px solid #E2E2E6;
}

.comment-meta h4 {
    padding: 1em;
}

.comment-meta .comment-date {
    padding: 0 1em;
}

.comment-meta p {
    padding: 1em;
    text-align: justify;
}

.comment-meta .comment-btns {
    display: flex;
    gap: 1em;
    padding: 0 1em;
    margin-bottom: 1em;
}

.comment-meta .reply a{
    display: block;
    padding: 1em;
    background: #59BE5E;
    color: #FFF;
}

.comment-meta .report a{
    display: block;
    padding: 1em;
    background: #FB6E52;
    color: #FFF;
}


.your-comment::after {
    content: "*";
    color:hsl(4, 89%, 40%);
}
.name::after {
    content: "*";
    color:hsl(4, 89%, 40%);
}
.email::after {
    content: "*";
    color:hsl(4, 89%, 40%);
}

.comments-nav-btn {
    display: flex;
    justify-content: space-between;
}

.comments-nav-btn a {
    display: block;
    padding: 1em;
    background: #4285F4;
    color: #FFF;
}