@font-face {
    font-family: "Vazir";
    src: url("./webfonts/Vazir/Vazir-FD.woff") format("woff"),
         url("./webfonts/Vazir/Vazir-FD.woff2") format("woff2"),
         url("./webfonts/Vazir/Vazir-FD.ttf") format("truetype"),
         url("./webfonts/Vazir/Vazir-FD.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url("./webfonts/Vazir/Vazir-Bold-FD.woff") format("woff"),
         url("./webfonts/Vazir/Vazir-Bold-FD.woff2") format("woff2"),
         url("./webfonts/Vazir/Vazir-Bold-FD.ttf") format("truetype"),
         url("./webfonts/Vazir/Vazir-Bold-FD.eot") format("embedded-opentype");
    font-weight: bold;
    font-style: normal;
}

* , :before, :after{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Dafault font for this theme is Vazir */
body {
	line-height: 1;
    direction: rtl;
    background-color: #F1F2F2;
    color: #333339;
    font-family: "Vazir", Arial, Helvetica;
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Container class */
.container {
    width: 85%;
    margin: 0 auto;
}

.header {
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
}

.header-container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/* menu class is used in top navbar */
.menu {
    display: flex;
}

.menu li > a{
    display: block;
    padding: 1em;
}

/* Scial icons' style on top navbar */
.social-icons ul {
    display: flex;
}

.social-icons ul > li > a {
    display: block;
    padding: 0.6em;
}

/* Top navbar style */
.top-nav {
    background: #494D61;
    color: #E2E2E6;
}

.face {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}
/* Webite's main navigation menu styles */
.main-nav {
    border-top: 1px solid #F1F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul{
    display: flex;
}

.main-nav ul > li > a {
    display: block;
    padding: 1.5em;
    border: 1px solid #F1F3F4;
    transition: 0.2s ease-in-out;
}

/* Main menu first and last child should be different from other childs */
/* First child has no right padding and border */
.main-nav ul > li:first-child > a {
    padding: 1.5em 0 1.5em 1.5em;
    border-right: none;
}

/* Last child has no left padding and border */
.main-nav ul > li:last-child > a {
    padding: 1.5em 1.5em 1.5em 0;
    border-left: none;
}

.main-nav ul > li > a:hover {
    color: dodgerblue;
}

/* Tools are contains search + light and dark mode button */
.tools {
    display: flex;
    justify-content: space-between;
}

.tools > a {
    padding: 1em;
    margin-left: 1em;
    transition: 0.2s ease-in-out
}

.tools > a:hover {
    color: dodgerblue;
    transition: 0.2s ease-in-out;
}

.tools .search {
    display: flex;
    align-items: center;
    padding-right: 1em;
    border-right: 1px solid #F1F3F4;
}

.search a {
    transition: 0.2s ease-in-out;
}

.search a:hover {
    color: dodgerblue;
    transition: 0.2s ease-in-out;
}

.search a > div {
    color: #333339 !important;
}

.body-container {
    display: flex;
    width: 85%;
    margin: 2.5em auto;
    justify-content: space-between;
}

.posts {
    width: 65%;
}

.post-ads {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border: 0.3em solid #A6D343;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
}

.post-ads a {
    margin: 1em;
}

.sidebar {
    width: 33%;
}

.side-ads {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}

.side-ads a {
    margin: 1em;
}

.post-card {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}

.post-header {
    display: flex;
    justify-content: right;
    align-items: center;
}

.post-header .post-title {
    padding: 1em;
}

.post-header h2 {
    font-size: 19px;
    margin-bottom: 0.7em;
}

.post-header .post-category-icon {
    margin-right: 1em;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content p {
    margin: 1em;
    text-align: justify;
}

.post-footer {
    display: flex;
    flex-direction: column;
}

.post-info-and-readmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info {
    display: flex;
    align-items: center;
    padding: 1em;
}

.post-info ul {
    display: flex;
}

.post-info ul > li {
    margin: 0 0.3em;
}

.post-readmore a {
    background: #4285F4;
    color: #F7F9FE;
    margin: 0 1em;
    padding: 0.5em 1.5em;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

.post-readmore a:hover {
    background: #2863c2;
    transition: 0.2s ease-in-out;
}

.post-footer hr {
    width: 100%;
    border: 1px solid #E2E2E6;
}

.post-tags {
    display: flex;
    padding: 1em;
    align-items: center; 
}

.post-tags .tag-icon {
    margin-left: 1em;
}

.side-card {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}

.side-card h2 {
    font-size: 18px;
    padding: 1em;
    border-bottom: 1px solid #E2E2E6;
}

.side-card .side-menu {
    padding: 0 1em 1em;
}

.side-menu ul > li > a {
    display: block;
    padding: 0.5em 0;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.pagination-wrapper ul {
    direction: ltr !important;
    display: flex;
}

.pagination-wrapper ul > li {
    background: #FFF;
    padding: 1em;
    border-right: 1px solid #E2E2E6;
    border-radius: 2px;
}

.pagination-wrapper ul > li:first-child {
    border-left: 1px solid #E2E2E6;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
}

.pagination-wrapper ul > li > a {
    display: block;
}

.active {
    background: #4285F4 !important;
    color: #F7F9FE !important;
}

.footer {
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.tab-menu {
    background: #f8f8f8;
    width: 100%;
}

.tab-menu ul {
    display: flex;
}

.tab-menu ul > li > a{
    display: flex;
    padding: 1em;
}

.tab-menu ul > li {
    border: 1px solid #E2E2E6;
    border-left: none;
}

.tab-menu ul > li:last-child {
    border-left: 1px solid #E2E2E6;
}

.sub-menu ul > li{
    border: none !important;
    background: none !important;
}

.footer-mid {
    display: flex;
    flex-direction: column;
}

.footer-row {
    display: flex;
    margin: 1em;
    justify-content: space-between;
}

.footer-column h2 {
    font-size: 18px;
    padding: 1em 0;
    color: dodgerblue;
}

.footer-column input {
    width: 100%;
    padding: 0.25em 0;
    font-family: "Vazir";
}

.footer-column textarea {
    width: 100%;
    padding: 0.5em;
    font-family: "Vazir";
}

.news {
    width: 25%;
}

.news div {
    padding: 0.5em 0;
}

.footer-column form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column form > label::after {
    content: '*';
    color: red;
}

.send-btn {
    margin: 1em;
    padding: 1em 2em;
    font-family: "Vazir";
    background: #2863c2;
    color: #FFF;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.send-btn:hover {
    background: #4285F4;
    transition: 0.2s ease-in-out;
}

.side-ad {
    margin: 0.5em 0;
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
    border-radius: 30px 30px 30px 0;
    transition: 0.25s ease-in-out;
}

.side-ad a {
    display: block;
    padding: 2em;
}

.side-ad:hover{
    background: #E2E2E6;
    transition: 0.25s ease-in-out;
}